In [100]:
import pandas as pd
import numpy as np

In [101]:
df1 = pd.read_csv("data_10000.csv")
df2 = pd.read_csv("data_20000.csv")
df3 = pd.read_csv("data_30000.csv")
#df4 = pd.read_csv("data_40000.csv")
#df5 = pd.read_csv("data_50000.csv")

In [102]:
df = pd.concat([df1, df2, df3], ignore_index=True)
df.head()

,Unnamed: 0,Title,Author,Description,Publisher,Year Published,Genres,Page Count
0,0,The Strange Maid,['Tessa Gratton'],"Fans of Neil Gaiman, Holly Black, and Maggie S...",Random House Books for Young Readers,2014.0,"['Fantasy', 'Young Adult', 'Fantasy', 'Mytholo...",400.0
1,1,A Darker Domain,['Val McDermid'],"1984, Fife. Heiress Catriona Maclennan Grant &...",HarperCollins Publishers,2008.0,"['Mystery', 'Mystery', 'Crime', 'Fiction', 'Cu...",371.0
2,2,A Thousand Naked Strangers: A Paramedic's Wild...,['Kevin Hazzard'],"A former paramedic’s visceral, poignant, and m...",Scribner,2016.0,"['Nonfiction', 'Autobiography', 'Memoir', 'Med...",261.0
3,3,Looking Back with a Smile,['Edward B. Farber'],"In Looking Back with a Smile, the author recol...",NaN,2012.0,[],NaN
4,4,Bargain Paradise,['Darlene Blasing'],Bargain Paradise is a humorous tale of an obse...,Argon Press,2013.0,[],49.0

In [103]:
df.shape

(30000, 8)

In [104]:
df.loc[0]

Unnamed: 0                                                        0
Title                                              The Strange Maid
Author                                            ['Tessa Gratton']
Description       Fans of Neil Gaiman, Holly Black, and Maggie S...
Publisher                      Random House Books for Young Readers
Year Published                                                 2014
Genres            ['Fantasy', 'Young Adult', 'Fantasy', 'Mytholo...
Page Count                                                      400
Name: 0, dtype: object

In [105]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [106]:
df["Genres"].apply(lambda x: [i for i in x[1:-1].replace("'", "").split(", ") if len(i) != 0])

0        [Fantasy, Young Adult, Fantasy, Mythology, Fic...
1        [Mystery, Mystery, Crime, Fiction, Cultural, S...
2        [Nonfiction, Autobiography, Memoir, Medical, B...
3                                                       []
4                                                       []
                               ...
29995    [Mythology, Mermaids, Fantasy, Young Adult, Ro...
29996    [Nonfiction, Feminism, Politics, Religion, Rel...
29997    [Fiction, Fantasy, Short Stories, Magical Real...
29998    [History, Nonfiction, Military, Military Histo...
29999                                                   []
Name: Genres, Length: 30000, dtype: object

#### The lists were saved as strings

In [107]:
df["Genres"] = df["Genres"].apply(lambda x: [i for i in x[1:-1].replace("'", "").split(", ") if len(i) != 0])

In [108]:
df["Author"]

0                                      ['Tessa Gratton']
1                                       ['Val McDermid']
2                                      ['Kevin Hazzard']
3                                   ['Edward B. Farber']
4                                    ['Darlene Blasing']
                              ...
29995                                  ['Sarah  Porter']
29996                                  ['Mona Eltahawy']
29997    ['Haruki Murakami', 'Ted Goossen', 'Chip Kidd']
29998                               ['Robert K. Massie']
29999                                  ['Elijah Powell']
Name: Author, Length: 30000, dtype: object

In [109]:
df["Author"].isna().sum()

2

#### 2 authors is insignificant in comparison to the sample size. Therefore, the rows can safely be dropped

In [111]:
df.dropna(subset=["Author"], axis=0, inplace=True)

In [112]:
df["Author"] = df["Author"].apply(lambda x: x[1:-1].replace("'", "").split(", ") if x is not None else None)

### Missing values

If we are missing genre's information, we would have an empty list instead of NaN. We need to count them as well

In [113]:
df = df[df["Author"].apply(lambda x: True if len(x) != 0 else False)]
df

,Title,Author,Description,Publisher,Year Published,Genres,Page Count
0,The Strange Maid,[Tessa Gratton],"Fans of Neil Gaiman, Holly Black, and Maggie S...",Random House Books for Young Readers,2014.0,"[Fantasy, Young Adult, Fantasy, Mythology, Fic...",400.0
1,A Darker Domain,[Val McDermid],"1984, Fife. Heiress Catriona Maclennan Grant &...",HarperCollins Publishers,2008.0,"[Mystery, Mystery, Crime, Fiction, Cultural, S...",371.0
2,A Thousand Naked Strangers: A Paramedic's Wild...,[Kevin Hazzard],"A former paramedic’s visceral, poignant, and m...",Scribner,2016.0,"[Nonfiction, Autobiography, Memoir, Medical, B...",261.0
3,Looking Back with a Smile,[Edward B. Farber],"In Looking Back with a Smile, the author recol...",NaN,2012.0,[],NaN
4,Bargain Paradise,[Darlene Blasing],Bargain Paradise is a humorous tale of an obse...,Argon Press,2013.0,[],49.0
...,...,...,...,...,...,...,...
29995,The Twice Lost,[Sarah Porter],Mermaids have been sinking ships and drowning ...,Houghton Mifflin Harcourt,2013.0,"[Mythology, Mermaids, Fantasy, Young Adult, Ro...",480.0
29996,Headscarves and Hymens: Why the Middle East Ne...,[Mona Eltahawy],A passionate manifesto decrying misogyny in th...,"Farrar, Straus and Giroux",2015.0,"[Nonfiction, Feminism, Politics, Religion, Rel...",240.0
29997,The Strange Library,"[Haruki Murakami, Ted Goossen, Chip Kidd]",From internationally acclaimed author Haruki M...,Knopf,2001.0,"[Fiction, Fantasy, Short Stories, Magical Real...",96.0
29998,Dreadnought,[Robert K. Massie],"Pulitzer Prize-winning author, Robert K. Massi...",Ballantine Books,1991.0,"[History, Nonfiction, Military, Military Histo...",1040.0
29999,Awkward Black Girl: District 9: Enchanted Love,[Elijah Powell],Gina is an Awkward Girl who doesn't fit in any...,NaN,2018.0,[],122.0

In [114]:
df = df[df["Genres"].apply(lambda x: True if len(x) != 0 else False)]

In [115]:
df

,Title,Author,Description,Publisher,Year Published,Genres,Page Count
0,The Strange Maid,[Tessa Gratton],"Fans of Neil Gaiman, Holly Black, and Maggie S...",Random House Books for Young Readers,2014.0,"[Fantasy, Young Adult, Fantasy, Mythology, Fic...",400.0
1,A Darker Domain,[Val McDermid],"1984, Fife. Heiress Catriona Maclennan Grant &...",HarperCollins Publishers,2008.0,"[Mystery, Mystery, Crime, Fiction, Cultural, S...",371.0
2,A Thousand Naked Strangers: A Paramedic's Wild...,[Kevin Hazzard],"A former paramedic’s visceral, poignant, and m...",Scribner,2016.0,"[Nonfiction, Autobiography, Memoir, Medical, B...",261.0
5,Hester Roon,[Norah Lofts],The Fleece Inn stood where the three roads joi...,Corgi,1940.0,"[Historical, Historical Fiction, Historical, L...",320.0
6,The Trouble with Playing Cupid,[Tamara Philip],"One New Year's Eve, shy singer, December Brown...",Vanilla Heart Publishing,2014.0,"[Romance, Contemporary]",176.0
...,...,...,...,...,...,...,...
29994,The Lonely Hunter: A Biography of Carson McCul...,"[Virginia Spencer Carr, Tennessee Williams]",The Lonely Hunter is widely accepted as the st...,University of Georgia Press,1975.0,"[Biography, Nonfiction, History, Race, Gothic,...",680.0
29995,The Twice Lost,[Sarah Porter],Mermaids have been sinking ships and drowning ...,Houghton Mifflin Harcourt,2013.0,"[Mythology, Mermaids, Fantasy, Young Adult, Ro...",480.0
29996,Headscarves and Hymens: Why the Middle East Ne...,[Mona Eltahawy],A passionate manifesto decrying misogyny in th...,"Farrar, Straus and Giroux",2015.0,"[Nonfiction, Feminism, Politics, Religion, Rel...",240.0
29997,The Strange Library,"[Haruki Murakami, Ted Goossen, Chip Kidd]",From internationally acclaimed author Haruki M...,Knopf,2001.0,"[Fiction, Fantasy, Short Stories, Magical Real...",96.0
29998,Dreadnought,[Robert K. Massie],"Pulitzer Prize-winning author, Robert K. Massi...",Ballantine Books,1991.0,"[History, Nonfiction, Military, Military Histo...",1040.0

In [116]:
df.isna().sum()

Title                0
Author               0
Description        329
Publisher         1423
Year Published      33
Genres               0
Page Count        1126
dtype: int64

### Categorical Data

In [127]:
genres = set()
for l in df["Genres"].values:
    genres = genres.union(set(l))
    
len(genres)

970

In [ ]:
genres = {genre: [] for genre in genres}

for book in df.iterrows():
    for genre in genres.keys():
        if(genre in book[1]["Genres"]):
            genres[genre].append(1)
        else:
            genres[genre].append(0)

In [ ]:
pd.DataFrame(genres)

In [128]:
pd.concat([df, ], axis=1)

,Title,Author,Description,Publisher,Year Published,Genres,Page Count,0
0,The Strange Maid,[Tessa Gratton],"Fans of Neil Gaiman, Holly Black, and Maggie S...",Random House Books for Young Readers,2014.0,"[Fantasy, Young Adult, Fantasy, Mythology, Fic...",400.0,Emotion
1,A Darker Domain,[Val McDermid],"1984, Fife. Heiress Catriona Maclennan Grant &...",HarperCollins Publishers,2008.0,"[Mystery, Mystery, Crime, Fiction, Cultural, S...",371.0,Economic Development
2,A Thousand Naked Strangers: A Paramedic's Wild...,[Kevin Hazzard],"A former paramedic’s visceral, poignant, and m...",Scribner,2016.0,"[Nonfiction, Autobiography, Memoir, Medical, B...",261.0,Feminism
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Book Club
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Academia
...,...,...,...,...,...,...,...,...
29994,The Lonely Hunter: A Biography of Carson McCul...,"[Virginia Spencer Carr, Tennessee Williams]",The Lonely Hunter is widely accepted as the st...,University of Georgia Press,1975.0,"[Biography, Nonfiction, History, Race, Gothic,...",680.0,NaN
29995,The Twice Lost,[Sarah Porter],Mermaids have been sinking ships and drowning ...,Houghton Mifflin Harcourt,2013.0,"[Mythology, Mermaids, Fantasy, Young Adult, Ro...",480.0,NaN
29996,Headscarves and Hymens: Why the Middle East Ne...,[Mona Eltahawy],A passionate manifesto decrying misogyny in th...,"Farrar, Straus and Giroux",2015.0,"[Nonfiction, Feminism, Politics, Religion, Rel...",240.0,NaN
29997,The Strange Library,"[Haruki Murakami, Ted Goossen, Chip Kidd]",From internationally acclaimed author Haruki M...,Knopf,2001.0,"[Fiction, Fantasy, Short Stories, Magical Real...",96.0,NaN
29998,Dreadnought,[Robert K. Massie],"Pulitzer Prize-winning author, Robert K. Massi...",Ballantine Books,1991.0,"[History, Nonfiction, Military, Military Histo...",1040.0,NaN